# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [6]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactFirstName, contactLastName, phone, addressLine1, creditLimit FROM customers""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,creditLimit
0,Carine,Schmitt,40.32.2555,"54, rue Royale",21000.0
1,Jean,King,7025551838,8489 Strong St.,71800.0
2,Peter,Ferguson,03 9520 4555,636 St Kilda Road,117300.0
3,Janine,Labrune,40.67.8555,"67, rue des Cinquante Otages",118200.0
4,Jonas,Bergulfsen,07-98 9555,Erling Skakkes gate 78,81700.0
5,Susan,Nelson,4155551450,5677 Strong St.,210500.0
6,Zbyszek,Piestrzeniewicz,(26) 642-7555,ul. Filtrowa 68,0.0
7,Roland,Keitel,+49 69 66 90 2555,Lyonerstr. 34,59700.0
8,Julie,Murphy,6505555787,5557 North Pendale Street,64600.0
9,Kwai,Lee,2125557818,897 Long Airport Avenue,114900.0
10,Diego,Freyre,(91) 555 94 44,"C/ Moralzarzal, 86",227600.0
11,Christina,Berglund,0921-12 3555,Berguvsvägen 8,53100.0
12,Jytte,Petersen,31 12 3555,Vinbæltet 34,83400.0
13,Mary,Saveley,78.32.5555,"2, rue du Commerce",123900.0
14,Eric,Natividad,+65 221 7555,Bronz Sok.,103800.0
15,Jeff,Young,2125557413,4092 Furth Circle,138500.0
16,Kelvin,Leong,2155551555,7586 Pompton St.,100600.0
17,Juri,Hashimoto,6505556809,9408 Furth Circle,84600.0
18,Wendy,Victorino,+65 224 1555,106 Linden Road Sandown,97900.0
19,Veysel,Oeztan,+47 2267 3215,Brehmen St. 121,96800.0
20,Keith,Franco,2035557845,149 Spinnaker Dr.,0.0
21,Isabel,de Castro,(1) 356-5555,Estrada da saúde n. 58,0.0
22,Martine,Rancé,20.16.1555,"184, chaussée de Tournai",82900.0
23,Marie,Bertrand,(1) 42.34.2555,"265, boulevard Charonne",84300.0
24,Jerry,Tseng,6175555555,4658 Baden Av.,43400.0
25,Julie,King,2035552570,25593 South Bay Ln.,84300.0
26,Mory,Kentary,+81 06 6342 5555,1-6-20 Dojima,81200.0
27,Michael,Frick,2125551500,2678 Kingston Rd.,76400.0
28,Matti,Karttunen,90-224 8555,Keskuskatu 45,96500.0
29,Rachel,Ashworth,(171) 555-1555,Fauntleroy Circus,136800.0
...,...,...,...,...,...
92,Maurizio,Moroni,0522-556555,Strada Provinciale 124,121400.0
93,Akiko,Shimamura,+81 3 3584 0555,2-2-8 Roppongi,94400.0
94,Dominique,Perrier,(1) 47.55.6555,"25, rue Lauriston",95000.0
95,Rita,Müller,0711-555361,Adenauerallee 900,0.0
96,Sarah,McRoy,04 499 9555,101 Lambton Quay,86800.0
97,Michael,Donnermeyer,+49 89 61 08 9555,Hansastr. 15,77000.0
98,Maria,Hernandez,2125558493,5905 Pompton St.,67500.0
99,Alexander,Feuer,0342-555176,Heerstr. 22,0.0
100,Dan,Lewis,2035554407,2440 Pompton St.,49700.0
101,Martha,Larsson,0695-34 6555,Åkergatan 24,116400.0
102,Sue,Frick,4085553659,3086 Ingle Ln.,77600.0
103,Roland,Mendel,7675-3555,Kirchgasse 6,45300.0
104,Leslie,Murphy,2035559545,567 North Pendale Street,95400.0
105,Yu,Choi,2125551957,5290 North Pendale Street,39800.0
106,Martín,Sommer,(91) 555 22 82,"C/ Araquil, 67",104600.0
107,Sven,Ottlieb,0241-039123,Walserweg 21,0.0
108,Violeta,Benitez,5085552555,1785 First Street,85800.0
109,Carmen,Anton,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",0.0
110,Sean,Clenahan,61-9-3844-6555,7 Allen Street,60300.0
111,Franco,Ricotti,+39 022515555,20093 Cologno Monzese,34800.0
112,Steve,Thompson,3105553722,3675 Furth Circle,55400.0
113,Hanna,Moos,0621-08555,Forsterstr. 57,0.0
114,Alexander,Semenov,+7 812 293 0521,2 Pobedy Square,0.0
115,Raanan,"Altagar,G M",+ 972 9 959 8555,3 Hagalim Blv.,0.0
116,José Pedro,Roel,(95) 555 82 82,"C/ Romero, 33",65700.0
117,Rosa,Salazar,2155559857,11328 Douglas Av.,72600.0
118,Sue,Taylor,4155554312,2793 Furth Circle,60300.0
119,Thomas,Smith,(171) 555-7555,120 Hanover Sq.,43300.0
120,Valarie,Franco,6175552555,6251 Ingle Ln.,85100.0
121,Tony,Snowden,+64 9 5555500,Arenales 1938 3'A',110000.0

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [10]:
c.execute("""SELECT state, AVG(creditLimit) FROM customers GROUP BY state""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  AVG(creditLimit)
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [17]:
c.execute("""SELECT customerName, customerNumber, 
            orderNumber, status, quantityOrdered 
            FROM customers JOIN orders USING(customerNumber) 
            JOIN orderdetails USING(orderNumber)""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,Online Diecast Creations Co.,363,10100,Shipped,22
1,Online Diecast Creations Co.,363,10100,Shipped,30
2,Online Diecast Creations Co.,363,10100,Shipped,49
3,Online Diecast Creations Co.,363,10100,Shipped,50
4,"Blauer See Auto, Co.",128,10101,Shipped,25
5,"Blauer See Auto, Co.",128,10101,Shipped,26
6,"Blauer See Auto, Co.",128,10101,Shipped,45
7,"Blauer See Auto, Co.",128,10101,Shipped,46
8,Vitachrome Inc.,181,10102,Shipped,39
9,Vitachrome Inc.,181,10102,Shipped,41
10,Baane Mini Imports,121,10103,Shipped,22
11,Baane Mini Imports,121,10103,Shipped,25
12,Baane Mini Imports,121,10103,Shipped,25
13,Baane Mini Imports,121,10103,Shipped,26
14,Baane Mini Imports,121,10103,Shipped,27
15,Baane Mini Imports,121,10103,Shipped,27
16,Baane Mini Imports,121,10103,Shipped,31
17,Baane Mini Imports,121,10103,Shipped,35
18,Baane Mini Imports,121,10103,Shipped,35
19,Baane Mini Imports,121,10103,Shipped,36
20,Baane Mini Imports,121,10103,Shipped,36
21,Baane Mini Imports,121,10103,Shipped,41
22,Baane Mini Imports,121,10103,Shipped,42
23,Baane Mini Imports,121,10103,Shipped,42
24,Baane Mini Imports,121,10103,Shipped,45
25,Baane Mini Imports,121,10103,Shipped,46
26,Euro+ Shopping Channel,141,10104,Shipped,23
27,Euro+ Shopping Channel,141,10104,Shipped,24
28,Euro+ Shopping Channel,141,10104,Shipped,26
29,Euro+ Shopping Channel,141,10104,Shipped,29
...,...,...,...,...,...
2966,Souveniers And Things Co.,282,10420,In Process,60
2967,Souveniers And Things Co.,282,10420,In Process,66
2968,Mini Gifts Distributors Ltd.,124,10421,In Process,35
2969,Mini Gifts Distributors Ltd.,124,10421,In Process,40
2970,Diecast Classics Inc.,157,10422,In Process,25
2971,Diecast Classics Inc.,157,10422,In Process,51
2972,Petit Auto,314,10423,In Process,10
2973,Petit Auto,314,10423,In Process,21
2974,Petit Auto,314,10423,In Process,21
2975,Petit Auto,314,10423,In Process,28
2976,Petit Auto,314,10423,In Process,31
2977,Euro+ Shopping Channel,141,10424,In Process,26
2978,Euro+ Shopping Channel,141,10424,In Process,44
2979,Euro+ Shopping Channel,141,10424,In Process,46
2980,Euro+ Shopping Channel,141,10424,In Process,49
2981,Euro+ Shopping Channel,141,10424,In Process,50
2982,Euro+ Shopping Channel,141,10424,In Process,54
2983,La Rochelle Gifts,119,10425,In Process,11
2984,La Rochelle Gifts,119,10425,In Process,18
2985,La Rochelle Gifts,119,10425,In Process,19
2986,La Rochelle Gifts,119,10425,In Process,28
2987,La Rochelle Gifts,119,10425,In Process,28
2988,La Rochelle Gifts,119,10425,In Process,31
2989,La Rochelle Gifts,119,10425,In Process,33
2990,La Rochelle Gifts,119,10425,In Process,38
2991,La Rochelle Gifts,119,10425,In Process,38
2992,La Rochelle Gifts,119,10425,In Process,38
2993,La Rochelle Gifts,119,10425,In Process,41
2994,La Rochelle Gifts,119,10425,In Process,49
2995,La Rochelle Gifts,119,10425,In Process,55

#### Expected Output

<img src='images/joins.png'>

## HAVING and ORDER BY

Now, return the customerName, customrerNumber, productName, productCode and total number ordered for any product a customer has bought 10 or more of cumulatively. Sort the rows in descending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [21]:
c.execute("""SELECT c.customerName, c.customerNumber, 
                   p.productName, od.productCode, sum(od.quantityOrdered) as TotalOrdered
                   
             FROM customers c JOIN orders o USING(customerNumber) 
                             JOIN orderdetails od USING(orderNumber)
                             JOIN products p USING(productcode)
             GROUP BY c.customerNumber, productCode
             HAVING SUM(od.quantityOrdered) >= 10
             ORDER BY TotalOrdered DESC""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,customerNumber,productName,productCode,TotalOrdered
0,Euro+ Shopping Channel,141,1992 Ferrari 360 Spider red,S18_3232,308
1,Euro+ Shopping Channel,141,1958 Chevy Corvette Limited Edition,S24_2840,245
2,Euro+ Shopping Channel,141,1970 Dodge Coronet,S24_1444,197
3,Euro+ Shopping Channel,141,1957 Chevy Pickup,S12_4473,183
4,Euro+ Shopping Channel,141,2002 Chevy Corvette,S24_3432,174
5,Mini Gifts Distributors Ltd.,124,1939 Cadillac Limousine,S18_4668,167
6,Euro+ Shopping Channel,141,1956 Porsche 356A Coupe,S24_3856,161
7,Euro+ Shopping Channel,141,1992 Porsche Cayenne Turbo Silver,S24_4048,161
8,Euro+ Shopping Channel,141,1949 Jaguar XK 120,S24_2766,158
9,Euro+ Shopping Channel,141,1954 Greyhound Scenicruiser,S32_2509,157
10,Euro+ Shopping Channel,141,1964 Mercedes Tour Bus,S18_2319,154
11,Euro+ Shopping Channel,141,1950's Chicago Surface Lines Streetcar,S32_3207,150
12,Mini Gifts Distributors Ltd.,124,1958 Chevy Corvette Limited Edition,S24_2840,149
13,Mini Gifts Distributors Ltd.,124,1957 Chevy Pickup,S12_4473,148
14,Euro+ Shopping Channel,141,1962 City of Detroit Streetcar,S50_1514,145
15,Mini Gifts Distributors Ltd.,124,1917 Maxwell Touring Car,S18_3320,141
16,Euro+ Shopping Channel,141,Diamond T620 Semi-Skirted Tanker,S50_1392,141
17,Mini Gifts Distributors Ltd.,124,2001 Ferrari Enzo,S12_1108,140
18,Euro+ Shopping Channel,141,1903 Ford Model A,S18_3140,140
19,Euro+ Shopping Channel,141,1962 Volkswagen Microbus,S24_2300,140
20,Euro+ Shopping Channel,141,1970 Triumph Spitfire,S18_4027,138
21,Mini Gifts Distributors Ltd.,124,1969 Ford Falcon,S12_3891,137
22,Euro+ Shopping Channel,141,Collectable Wooden Train,S18_3259,137
23,Euro+ Shopping Channel,141,1952 Citroen-15CV,S24_2887,135
24,Euro+ Shopping Channel,141,1970 Chevy Chevelle SS 454,S24_1046,133
25,Euro+ Shopping Channel,141,1982 Lamborghini Diablo,S24_2972,132
26,Mini Gifts Distributors Ltd.,124,1962 Volkswagen Microbus,S24_2300,131
27,Euro+ Shopping Channel,141,1969 Chevrolet Camaro Z28,S24_3191,129
28,Euro+ Shopping Channel,141,The Titanic,S700_3505,126
29,"Down Under Souveniers, Inc",323,1969 Dodge Super Bee,S18_3278,126
...,...,...,...,...,...
2501,Gifts4AllAges.com,362,1957 Corvette Convertible,S18_4721,20
2502,Gifts4AllAges.com,362,1982 Ducati 996 R,S32_2206,20
2503,Online Diecast Creations Co.,363,1939 Chevrolet Deluxe Coupe,S24_1937,20
2504,Royale Belge,381,1928 Ford Phaeton Deluxe,S32_4289,20
2505,Salzburg Collectables,382,1937 Horch 930V Limousine,S24_3420,20
2506,L'ordine Souveniers,386,1998 Chrysler Plymouth Prowler,S18_2238,20
2507,L'ordine Souveniers,386,1999 Indy 500 Monte Carlo SS,S18_2870,20
2508,"Tokyo Collectables, Ltd",398,1996 Peterbilt 379 Stake Bed with Outrigger,S32_3522,20
2509,Scandinavian Gift Ideas,448,1912 Ford Model T Delivery Wagon,S24_3151,20
2510,The Sharp Gifts Warehouse,450,Boeing X-32A JSF,S72_1253,20
2511,Mini Auto Werke,452,1948 Porsche 356-A Roadster,S18_1889,20
2512,"Corrida Auto Replicas, Ltd",458,1939 Chevrolet Deluxe Coupe,S24_1937,20
2513,"Australian Collectables, Ltd",471,1938 Cadillac V-16 Presidential Limousine,S24_2022,20
2514,"Australian Collectables, Ltd",471,1936 Chrysler Airflow,S24_4258,20
2515,Motor Mint Distributors Inc.,486,2002 Yamaha YZR M1,S50_4713,20
2516,Signal Collectibles Ltd.,487,1936 Chrysler Airflow,S24_4258,20
2517,La Rochelle Gifts,119,1926 Ford Fire Engine,S18_2432,19
2518,La Rochelle Gifts,119,Diamond T620 Semi-Skirted Tanker,S50_1392,18
2519,L'ordine Souveniers,386,Corsair F4U ( Bird Cage),S24_3949,18
2520,"Australian Collectables, Ltd",471,1937 Horch 930V Limousine,S24_3420,18
2521,"Extreme Desk Decorations, Ltd",412,1969 Dodge Super Bee,S18_3278,16
2522,Souveniers And Things Co.,282,1936 Mercedes Benz 500k Roadster,S24_3969,15
2523,Salzburg Collectables,382,1982 Lamborghini Diablo,S24_2972,15
2524,L'ordine Souveniers,386,P-51-D Mustang,S18_2581,15
2525,"Tokyo Collectables, Ltd",398,1936 Mercedes Benz 500k Roadster,S24_3969,15
2526,The Sharp Gifts Warehouse,450,1969 Chevrolet Camaro Z28,S24_3191,13
2527,La Rochelle Gifts,119,1954 Greyhound Scenicruiser,S32_2509,11
2528,Tekni Collectables Inc.,328,American Airlines: B767-300,S700_1691,11
2529,Petit Auto,314,1913 Ford Model T Speedster,S18_2949,10
2530,"Extreme Desk Decorations, Ltd",412,1961 Chevrolet Impala,S24_4620,10

#### Expected Output

<img src='images/having_order.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

In [30]:
c.execute("""SELECT lastName, firstName, employeeNumber, officeCode
             FROM employees
             WHERE officeCode IN (SELECT officeCode
                                  FROM offices
                                  JOIN employees
                                  USING(officeCode)
                                  GROUP BY 1
                                  HAVING COUNT(employeeNumber) < 5)""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

    lastName firstName employeeNumber officeCode
0  Patterson   William           1088          6
1   Firrelli     Julie           1188          2
2  Patterson     Steve           1216          2
3      Tseng  Foon Yue           1286          3
4     Vanauf    George           1323          3

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!